<Configuration name="ConfigTest" status="INFO" monitorInterval="5">
    <Appenders>
            <Console name="Out">
                <PatternLayout pattern="%m%n"/>
            </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Out"/>
        </Root>
    </Loggers>
</Configuration>